{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product-card.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center my-5">Shopping Bag</h2>
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="w-25" data-label="Product Info">
                                            <img class="img-fluid rounded" src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" alt="{{ item.product.name }}">
                                            <p class="my-0"><strong><a href="{% url 'product_detail' item.product.id %}" class="text-dark">{{ item.product.name }}</a></strong></p>
                                        </td>
                                        <td class="py-3" data-label="Size">
                                            <p class="my-0">{{ item.size|default:"N/A" }}</p>
                                        </td>
                                        <td class="py-3" data-label="Price">
                                            <p class="my-0">€{{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3" data-label="Quantity">
                                            <div class="input-group input-group-sm w-auto">
                                                <button class="decrement-qty btn btn-sm btn-secondary rounded-start" 
                                                        type="button"
                                                        data-item_id="{{ item.item_id }}"
                                                        data-size="{{ item.size|default:'' }}">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </button>
                                                <input class="qty_input text-center"
                                                       type="number"
                                                       name="quantity"
                                                       value="{{ item.quantity }}"
                                                       min="1"
                                                       max="{{ item.product.stock_qty }}"
                                                       data-item_id="{{ item.item_id }}"
                                                       data-size="{{ item.size|default:'' }}"
                                                       data-current-qty="{{ item.quantity }}"
                                                       data-url="{% url 'adjust_bag' item.item_id %}">
                                                <button class="increment-qty btn btn-sm btn-secondary rounded-end"
                                                        type="button"
                                                        data-item_id="{{ item.item_id }}"
                                                        data-size="{{ item.size|default:'' }}">
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="py-3" data-label="Subtotal">
                                            <p class="my-0">€{{ item.product.price|calc_subtotal:item.quantity }}</p>
                                        </td>
                                        <td class="py-3 text-right">
                                            <a class="remove-item text-danger" 
                                               data-item_id="{{ item.item_id }}"
                                               data-size="{{ item.size|default:'' }}"
                                               data-url="{% url 'remove_from_bag' item.item_id }}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/bag.js' %}"></script>
{% endblock %}