{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="p-4">
                    <h2 class="logo-font text-black text-center mb-4">Contact Us</h2>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h4 class="text-black">Get in Touch</h4>
                            <p>
                                <i class="fas fa-map-marker-alt"></i> 1 Block 1, Blackrock Business Park, <br>
                                Carysfort Ave, Newtown Blackrock, Blackrock, Co. <br>
                                Dublin, Ireland
                            </p>
                            <p>
                                <i class="fas fa-phone"></i> +353 (0)15397973
                            </p>
                            <p>
                                <i class="fas fa-envelope"></i> info.wheelmaster@alhanein.net
                            <h4 class="text-black mt-4">Business Hours</h4>
                            <p>
                                Monday - Friday: 8:00 AM - 6:00 PM<br>
                                Saturday: 9:00 AM - 4:00 PM<br>
                                Sunday: Closed
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-black">Location</h4>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2383.4876543210123!2d-6.178275110999744!3d53.29829418208393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x0!2zNTPCsDE3JzUzLjkiTiA2wrAxMCc0MS44Ilc!5e0!3m2!1sen!2sie!4v1699998877095!5m2!1sen!2sie" 
                                    width="100%" 
                                    height="300" 
                                    style="border:0;" 
                                    allowfullscreen="" 
                                    loading="lazy">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
