{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 my-auto">
                <br>
                <h1 class="display-5 logo-font text-black">
                    Welcome to Wheel Master </h1>
                    <h4 class="text-black">Europe's biggest manufacturer of Wheelbarrows <br> and Construction Equipment, located in Dublin, Ireland.</h4>
                <p><hr>
                   We specialize in providing top-quality construction equipment 
                    solutions 
                    <br>that help you get the job done efficiently and effectively. 
                    <br>Our product range includes everything from robust wheelbarrows 
                    <br>and reliable concrete mixers to versatile transport trolleys and beyond.
                </p>
                <p>
                    We pride ourselves on delivering durable, high-performance tools that meet the demands of both professional builders and DIY enthusiasts. 
                    With Wheel Master, you can trust that our equipment will support you every step of the way in your construction projects. 
                    Explore our selection and experience the difference that quality tools can make!
                </p>
<br><br>
                <h3 class="text-info text-black">
                      The new collections here
                </h3>
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}