{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
   
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-8 offset-md-2">
                <div class="about-container  p-4 mt-4">
                    <h2 class="logo-font text-black text-center mb-4">Who We Are</h2>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-black">Our Story</h4>
                            <p>
                                Wheel Master has been serving the construction industry since 2010. We started as a small family business and have grown into one of Ireland's leading suppliers of construction equipment and tools.
                            </p>
                            
                            <h4 class="text-black mt-4">Our Mission</h4>
                            <p>
                                To provide high-quality construction equipment and exceptional customer service, helping professionals and DIY enthusiasts achieve their construction goals efficiently and safely.
                            </p>
                            
                            <h4 class="text-black mt-4">Our Values</h4>
                            <ul>
                                <li>Quality - We only stock products that meet our high standards</li>
                                <li>Reliability - Dependable tools and dependable service</li>
                                <li>Customer Focus - Your success is our success</li>
                                <li>Innovation - Constantly updating our product range with the latest technology</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
