{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
   
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-8 offset-md-2">
                <div class="about-container  p-4 mt-4">
                    <h2 class="logo-font text-black text-center md-5">Who We Are</h2>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h3> Who We Are</h3>
                            <p>We are Europe's biggest manufacturer of Wheelbarrows and Construction Equipment, located in Dublin, Ireland. <br> Since our humble beginnings in 2010 as a small family business, we've grown into a leading name, supplying top-tier construction equipment and tools to professionals and DIY enthusiasts across the nation. Our journey is built on a foundation of hard work, commitment, and an unwavering dedication to quality.</p>
                            
                            <h3> Our Story</h3>
                            <p>What started with a single idea and a passion for empowering builders has evolved into a legacy of trust and innovation. We understand that every project, big or small, requires the right tools and equipment. That's why we’ve made it our mission to be more than just suppliers—we're your partners in building dreams. From local contractors to major developers, our growth is a testament to the relationships we’ve built and the trust we’ve earned.</p>
                            
                            <h3> Our Mission</h3>
                            <p>To empower builders, innovators, and creators by providing them with exceptional construction tools that enhance<br> efficiency, ensure safety, and bring visions to life. At Wheel Master, we don't just deliver products<br>—we deliver solutions that stand the test of time and the rigors of the construction world.</p>
                            
                            <h3> Our Values</h3>
                            <ul>
                                <li><strong>Uncompromising Quality</strong>: We source only the finest equipment, ensuring durability and superior performance for every project.</li>
                                <li><strong>Unshakable Reliability</strong>: We pride ourselves on being dependable, delivering not just tools, but confidence and peace of mind.</li>
                                <li><strong>Customer-Centric Approach</strong>: Your goals are our goals. We're dedicated to understanding your needs and exceeding your expectations.</li>
                                <li><strong>Driven by Innovation</strong>: We stay ahead by constantly evolving, bringing you the latest advancements in construction technology and equipment.</li>
                            </ul>
                            
                            <h3> Why Choose Us?</h3>
                            <ul>
                                <li><strong>Expert Guidance</strong>: Our team of experts is always ready to offer insights and recommendations tailored to your project needs.</li>
                                <li><strong>Wide Product Range</strong>: From heavy machinery to precision tools, we've got everything you need under one roof.</li>
                                <li><strong>Customer Support</strong>: We're here for you every step of the way—before, during, and after your purchase.</li>
                            </ul>
                            <hr>
                            <p>Join the Wheel Master family and experience the difference that quality,<br> dedication, and innovation can make in your construction journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
