html {
    height: 100%;
}

body {
    background: url('/media/background1.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #555;
    font-family: 'Lato';
}

header {
    flex: none;
}

main {
    flex: 1 0 auto;
    padding-top: 75px; 
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.main-logo-link {
    width: fit-content;
}

/* Navigation Styles */
.navbar-nav .nav-link {
    color: #555;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #000 !important;
}

.dropdown-menu {
    margin-top: 0;
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-item {
    color: #555;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000;
    transform: translateX(5px);
}

.dropdown-item .sort-indicator {
    margin-left: 0.5rem;
    font-size: 0.8em;
}


main.main-bg {
    margin-top: 0; 
    min-height: calc(100vh - 0px); 
}

/* Buttons */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
  
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.w-35 {
    width: 35% !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.product-description {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 80%;
    line-height: 1.3rem;
    margin-bottom: 2rem;
    color: #060025;
 
}

.description-title {
    font-size: 1.25rem;
    text-decoration: underline;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 100px;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-btt {
    position: static;
    bottom: 20px;
    float: right;
    color: blue;
    cursor: pointer;
}

.btn-btt i {
    font-size: 1.5em;
}


input[name='q']::placeholder {
    color: #aab7c4;
}

.text-rate {
    -webkit-text-fill-color: #c15a00;
}

/* -------------- bootstrap toasts -----------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}
.toast.custom-toast {
    opacity: 1 !important;
    transition: all 0.3s ease;
}
.toast-header.bg-success {
    background-color: #28a745 !important;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #f8a75f !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */
.allauth-form-inner-content {
    background-color: rgba(248, 249, 250, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 0.25rem;
    margin-top: 8rem;
}

.allauth-form-inner-content p {
    margin-top: 2.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.allauth-form-inner-content .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    color: #212529;
}

.allauth-form-inner-content .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #6c757d;
}

.allauth-form-inner-content .form-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 0;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    width: 50%;

    /* standard bootstrap btn transitions */
    transition: color .3s ease-in-out, background-color .3s ease-in-out, 
    border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #646262;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    text-decoration: none;
}

/* Shopping Bag Styles */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* ------------------ Media Queries -------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Add margin for fixed navbar */
@media (min-width: 992px) {
    .allauth-form-row {
        margin-top: 8rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    main {
        padding-top: 50px;
    }

    .header-container {
        padding-top: 90px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .allauth-form-inner-content {
        background-color: rgba(248, 249, 250, 0.15);
        border: 2px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
        padding: 1rem;
        border-radius: 0.25rem;
        margin-top: 6rem;
    }
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 1;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #e9e5f7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #5d0dffd3;
    width: 300px;
    border-radius: 15px;
}

.close-button {
    color: #ff0000c7;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 5px;
}

.close-button:hover,
.close-button:focus {
    color: rgb(231, 12, 12);
    cursor: pointer;
}

#deleteMessage {
    margin: 10px 0;
    font-size: 16px;
}

/* Shopping bag on very small screens */
@media (max-width: 470px) and (min-width: 200px) {
    /* Shopping bag table adjustments */
    .table td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .table th {
        padding: 0.5rem;
        font-size: 0.85rem;
    }

    .table img {
        max-width: 60px;
    }

    .input-group.input-group-sm {
        max-width: 80px;
    }

    .input-group-sm .btn {
        padding: 0.15rem 0.3rem;
    }

    .input-group-sm .qty_input {
        padding: 0.15rem;
        font-size: 0.9rem;
    }

    .table .remove-item {
        font-size: 0.9rem;
    }
}
