.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    justify-content: center;
    margin-top: 1rem;
}

.product-card {
    flex: 1 1 calc(25% - 1.5rem); 
    max-width: 250px; 
    margin: auto;
}

.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    transition: transform 0.2s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}


.card-body {
    padding: 1rem;
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #0080ff important ;
    text-decoration: none;
    transition: color 0.2s;
}

.card-title:hover {
    color: #006ada; 
}

.card-price {
    font-size: 1.2rem;
    color: #28a745;
    font-weight: bold;
    margin: 0.5rem 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 1.5rem); 
    }
}

@media (max-width: 576px) {
    .product-card {
        flex: 1 1 calc(100% - 1rem); 
    }
    .card-img-container {
        height: 120px;
    }
}
