<footer class="footer">
    <div class="icon-container">
        <a href="https://www.facebook.com/profile.php?id=61573992207277" class="text-white footer-icon"><i class="bi bi-facebook"></i></a>
        <a href="https://twitter.com/mypage" class="text-white footer-icon"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/mypage" class="text-white footer-icon"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/mypage" class="text-white footer-icon"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/mypage" class="text-white footer-icon"><i class="bi bi-github"></i></a>
    </div>
    <div class="text-white footer-links">
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="https://www.termsfeed.com/live/27f68a99-753d-441a-bef5-d0a06d843a36">Privacy Policy</a>
        <a href="{% url 'newsletter_signup' %}">Newsletter</a> 
    </div>
</footer>