{% load static %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link">
                ALL PRODUCTS
            </a>
        </li>

        {% for main_category, children in nav_categories.items %}
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" 
                   id="{{ main_category.name|lower }}-link" data-toggle="dropdown" 
                   aria-haspopup="true" aria-expanded="false">
                    {{ main_category.friendly_name|upper }}
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="{{ main_category.name|lower }}-link">
                    <a href="{% url 'products' %}?category={{ main_category.name }}" class="dropdown-item">
                        All {{ main_category.friendly_name }}
                    </a>
                    {% for child in children %}
                        {% if child.children.exists %}
                            <div class="dropdown-submenu">
                                <a href="{% url 'products' %}?category={{ child.name }}" class="dropdown-item">
                                    {{ child.friendly_name }}
                                </a>
                                <div class="dropdown-menu">
                                    {% for grandchild in child.get_children %}
                                        {% if grandchild.is_active %}
                                            <a href="{% url 'products' %}?category={{ grandchild.name }}" class="dropdown-item">
                                                {{ grandchild.friendly_name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a href="{% url 'products' %}?category={{ child.name }}" class="dropdown-item">
                                {{ child.friendly_name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="special-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="{% url 'products' %}?special_offer=True" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'who_we_are' %}" class="dropdown-item">Who We Are</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                <a href="{% url 'newsletter_signup' %}" class="dropdown-item">Newsletter</a>
            </div>
        </li>
    </ul>
</div>

{% block postloadjs %}
    <script src="{% static 'js/main-nav.js' %}"></script>
{% endblock %}
